<% if @results %>
	<h1>NLC Idea Generator Recommends...</h1>
	<br>
	<%= link_to "Change preferences", root_path, class: "btn btn-success"%>
	<%= link_to "Give me another idea", @result, method: 'post', class: "btn btn-primary"%>
	<br>
	<br>
	<p>Build a <%= @results["product_name"] %> around <%= @results["recommended_height"].to_s %>ft tall.</p>
	<br>
	<% if @results["launch_type"] %>
 		<p>Launch: <%= @results["launch_type"] %></p>
 	<% end %>

	<% if @results["plausible_elements"] %>
 		<p>Try to include the following:</p>
 		<ul>
 		<% @results["plausible_elements"].each do |plausible_element| %>
 			<li><%= plausible_element %></li>
 		<% end %>
 		</ul>
 	<% end %>
	<br>
 	<% if @results["restricted_elements"] %>
 		<p>Try to avoid the following:</p>
 		<ul>
 		<% @results["restricted_elements"].each do |restricted_element| %>
 			<li><%= restricted_element %></li>
 		<% end %>
 		</ul>
 	<% end %>
 	<% if @results["rmc"] %>
 		<p>Think about converting the following woodie: <%= @results["rmc"].gsub("_", " ") %></p>
 		<p>Or make something totally custom ;-)</p>
 	<% end %>
 	<% if @results["misc_restriction"] %>
 		<p>Miscellaneous Restriction: <%= @results["misc_restriction"] %></p>
 	<% end %>
<% end %>
<br>